<div class="my-container">
  <h1>My Bookings</h1>

  <div class="cards">
    <% @bookings.each do |booking| %>
        <%= link_to garden_path(booking.garden), class: 'card-link' do %>
          <div class="card-garden">
            <%= cl_image_tag booking.garden.photo, height: 300, width: 400, crop: :fill %>
            <div class="card-garden-infos">
              <div>
                <h2><%= booking.garden.title %></h2>
                   <p>Booking time: <strong><%= ((booking.end_date - booking.start_date) / 3600).round %>hrs</strong></p>
                   <p>Total: <strong>£<%= booking.price %></p></strong>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>


