
<div class="my-container">
  <h1>Select Your Dates</h1>
  <div class="row justify-content-center">
      <div class="col-md-9">
  <%= simple_form_for [@garden, @booking] do |f| %>

    <%= f.input :start_date  %>
    <%= f.input :end_date %>
    <div class="d-flex justify-content-center" data-toggle="modal" data-target="#exampleModalCenter">
      <button type="button" class="btn-basic btn-lg signup-inputs">Confirm</button>
    </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Booking Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3><%= @garden.title %></h3>
        <p>In: <%= @garden.address %></p>
        <p>Total: <%= @garden.price %>per hour</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <%= f.button :submit, "Submit", class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
  <% end %>
</div>
