<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
      <% end %>

    <% if user_signed_in? && !current_page?(root_path) %>
      <%= form_tag gardens_path, method: :get do %>
        <i class="fa fa-search"></i>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar",
          placeholder: "Search Gardens"  %>
      <% end %>
    <% end %>
  </div>

      <% if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if controller_name == 'gardens' && action_name == 'index' %>">
          <%= link_to 'Find a Garden', gardens_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'gardens' && action_name == 'new' %>">
          <%= link_to 'Host a garden', new_garden_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'bookings' && action_name == 'index' %>">
          <%= link_to "Bookings", bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'gardens' && action_name == 'my_gardens' %>">
          <%= link_to "My Gardens", my_gardens_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item bullet-removal">
          <%= link_to "Login", new_user_session_path, class: "btn-basic btn-lg signup-inputs disp-block nav-link" %>
        </li>
        <li class="nav-item bullet-removal">
          <%= link_to "Sign up","/users/sign_up", class: "btn-basic btn-lg signup-inputs disp-block nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
