<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if controller_name == 'gardens' && action_name == 'new' %>">
          <%= link_to 'Host a garden', new_garden_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'bookings' && action_name == 'index' %>">
          <%= link_to "Bookings", bookings_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'gardens' && action_name == 'index' %>">
          <%= link_to "My Gardens", gardens_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up","/users/sign_up", class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
