<div class="my-container">
  <div class="banner">
    <h1>Rent a garden. </h1>
    <p>Gardens for everybody</p>
      <div class="d-flex justify-content-center">
        <%= link_to 'Explore', gardens_path, class: 'btn-basic btn-lg signup-inputs' %>
      </div>
  </div>

  <br>

  <h2 id="explore">Gardens in your area: </h2>
  <div class="my-container">
    <div class="cards">
      <% @gardens.each do |garden| %>
        <% if policy(garden).show? %>
          <%= link_to garden_path(garden), class: 'card-link' do %>
            <div class="card-garden">
              <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill %>
              <div class="card-garden-infos">
                <div>
                  <h2><%= garden.title %></h2>
                  <p><%= garden.description %></p>
                </div>
                <h2 class="card-garden-pricing">£<%= garden.price %>/hr</h2>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


