<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)),url(<%= asset_url('banner.jpg') %>);">
    <h1> Rent a Garden </h1>
    <p>Gardens for Everybody</p>
      <div class="d-flex justify-content-center">
        <%= form_tag gardens_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-bar-home",
            placeholder: "Search Gardens"  %>
        <% end %>
      </div>
  </div>

  <div class="my-container">
    <h3 id="explore" class="marg-left">Explore Gardens Near You</h3>
    <div class="cards-container">
      <% @ukgardens = Garden.near('United Kingdom', 500) %>
      <% @ukgardens.each do |garden| %>
        <% if policy(garden).show? && @ukgardens %>
          <div class="col-3">
          <%= link_to garden_path(garden), class: 'card-link' do %>
              <%= cl_image_tag(garden.photo, height: 200) %>
                <div class="card-info">
                  <h5><%= garden.title %></h5>
                  <p>£<%= garden.price %>/hr</p>
              </div>
          <% end %>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


