<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
    <%= simple_form_for @garden do |f| %>

      <%= f.input :photo %>
      <%= f.input :price %>
      <%= f.input :capacity %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
