<div class="my-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6"><%= simple_form_for @garden do |f| %>
      <%= f.input :photo %>
      <%= f.input :title %>
      <%= f.input :price %>
      <%= f.input :capacity %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :photo_cache, as: :hidden %>
        <div class="d-flex flex-column justify-content-center">
          <%= f.button :submit, "Submit", class: 'submit'%>
        </div>
      <% end %>
        <div class="d-flex flex-column justify-content-center">
          <%= link_to 'Back', gardens_path, class: 'back-button' %>
        </div>
        <div class="d-flex flex-column justify-content-center">
          <%= link_to 'Delete', garden_path(@garden), method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-button'  %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Chang back and delete buttons to icons -->
