<h1>Search Gardens</h1>

<div class="cards">
  <% @gardens.each do |garden| %>
    <div class="card-garden">
    <%= cl_image_tag garden.photo, height: 300, width: 400, crop: :fill %>
    <div class="card-garden-infos">
      <div>
        <h2><%= garden.title %></h2>
        <p><%= garden.description %></p>
      </div>
      <h2 class="card-garden-pricing">£<%= garden.price %>/hr</h2>
    </div>
  </div>
  <%= link_to 'Show garden', garden_path(garden) %>
  <% end %>
</div>

<%= link_to 'Create a garden', new_garden_path %>
