<div class="my-container">
  <h1 class="index-head">Choose a Garden</h1>

    <div class="cards-container">
      <% @gardens.each do |garden| %>
        <% if policy(garden).show? %>
          <div class="col-3">
          <%= link_to garden_path(garden), class: 'card-link' do %>
              <%= cl_image_tag(garden.photo, height: 200) %>
                <div class="card-info">
                  <h5><%= garden.title %></h5>
                  <p>£<%= garden.price %>/hr</p>
              </div>
          <% end %>
            </div>
        <% end %>
      <% end %>
    </div>



  <div
    id="map"
    style="width: 100%;
    height: 500px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

  <div class="login-link">
    <%= link_to 'Back', gardens_path %>
  </div>
</div>
