<div class="one-card">
    <%= cl_image_tag @garden.photo, height: 500, width: 800 %>
</div>
<div class="information">
  <h2><%= @garden.title %></h2>
  <p><%= @garden.address %></p>
  <p><%= @garden.description %></p>
  <div><h2 class="card-garden-pricing">$<%= @garden.price %></h2>
    </div>
</div>



  <% if policy(@garden).edit? %>
    <%= link_to 'Edit', edit_garden_path(@garden) %>
  <% end %>
  <% if policy(@garden).destroy? %>
    <%= link_to 'Destroy', garden_path(@garden), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>


